ion-item {
    --padding-start: 0;
  }
ion-title {
    --color: #fff;
    background-color: #1A1036;    
    height: 60px;
    font-family: "Century Gothic Bold", sans-serif;
  }

  .btn1{    
    //width: 300px;
    //height: 50px;    
    text-align: center;
    font-size: 20px;
    display: inline-block;
    display: block;    
    margin-right: auto;
    margin-left: auto;
    font-family: "Century Gothic Bold", sans-serif;
    //background-color: #1A1036
    background-color: #14D1E4; 
  }


.imagenPepito {
    width: 100%; 
    height: 100%;
  }

  .texto-grande {
    font-size: 18px; 
    font-family: 'Century Gothic Bold', sans-serif; 
    font-weight: 600; 
    color: #000; //fafafa
  }

  .color{
    ion-card {
      --background: #7f5d95;
      --color: #4c40f0;
    }
    
    ion-card-title {
      --color: #0b0d0d;
    }
  }

 
  