ion-item {
    --padding-start: 0;
  }
ion-title {
    --color: #000;
    background-color: #cae6e7;    
    height: 60px;
    font-family: "Century Gothic Bold", sans-serif;

  }



.imagenPepito {
    width: 100%; 
    height: 100%;
  }

  .texto-grande {
    font-size: 24px; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    color: #000; //fafafa
  }

  