
<!---ENCABEZADO DE LA PÁGINA--->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FIVEbot</ion-title>
  </ion-toolbar>
</ion-header>

<!---CONTENIDO DE LA PÁGINA--->
<ion-content [fullscreen]="true">
  <!---<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FIVEbot</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <ion-img src="/assets/Recurso 1.png"> </ion-img>
  
  <!---BOTÓN--->
  <ion-button expand="full" href="/ndgs">Nickl</ion-button>

  <ion-card>
    <img class="imagenPepito" alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2023/02/11/16/32/ai-generated-7783344_960_720.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-button expand="full">holas</ion-button>
    </ion-card-header>
  
    <ion-card-content>
      Somos Fivebot,un equipo comprometido con la innovación en tecnología y salud.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="texto-grande">
  • Información sobre tratamientos dentales 🦷  
  • Agendamiento de citas 🪥  
  • Asesoramiento sobre tratamientos 🚑 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Nicolas Garcia</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Valentina Vargas</ion-label>
          <ion-button expand="full">holasdljasdkjas</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Alejandra Chambueta</ion-label>
          <ion-button expand="full">holasdljasdkjas</ion-button>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Stefany Gelvez</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Jeimmy Cortes</ion-label>
          <ion-button expand="full">holasdljasdkjas</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>


