ion-item {
    --padding-start: 0;
  }
ion-title {
    --color: #000;
    background-color: #cae6e7;    
    height: 60px;
    font-family: "Century Gothic Bold", sans-serif;

  }

  ion-button{
    background-color: #d878bb; 
    width: 300px;
    height: 70px;
    line-height: 50px;
    text-align: center;
    font-size: 50px;
    margin: 10px 600px 10px;
  }


.imagenPepito {
    width: 100%; 
    height: 100%;
  }

  .texto-grande {
    font-size: 24px; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    color: #000; //fafafa
  }

 
  