
<!---ENCABEZADO DE LA PÁGINA--->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FIVEbot</ion-title>
  </ion-toolbar>
</ion-header>

<!---CONTENIDO DE LA PÁGINA--->
<ion-content [fullscreen]="true">
  <!---<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FIVEbot</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <ion-img src="/assets/Recurso 1.png"> </ion-img>

  <!--<ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let c of [1];">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let c of [1];">
        <ion-card>
          <img class="imagenPepito" alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2023/02/11/16/32/ai-generated-7783344_960_720.jpg" />
          <ion-card-header>
            <ion-card-title>Acerca de nosotros</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Somos Fivebot,un equipo comprometido con la innovación en tecnología y salud.
          </ion-card-content>
        
          <ion-button fill="clear">Informate</ion-button>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>-->

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      
      <!-- Primera tarjeta -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title class="texto-grande"> 
            >Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        
            <ion-card-content class="texto-grande">
          • Información sobre tratamientos dentales 🦷
          • Agendamiento de citas 🖊️
          • Asesoramiento sobre tratamientos 🚑
            </ion-card-content>
        </ion-card>
      </ion-col>
  
      <!-- Segunda tarjeta -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <img class="imagenPepito" alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2023/02/11/16/32/ai-generated-7783344_960_720.jpg" />
          <ion-card-header>
            <ion-card-title>Acerca de nosotros</ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
            Somos Fivebot, un equipo comprometido con la innovación en tecnología y salud.
          </ion-card-content>
  
          <ion-button fill="clear">Infórmate</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="texto-grande"> 
      INTEGRANTES DEL EQUIPO</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="/assets/NickP.png" />
          </ion-thumbnail>
          <ion-label>Nicolas Garcia</ion-label>
          <ion-button expand="full"href="/card">Haz click </ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://static.netwrck.com/static/uploads/ai-Help-Bot-HX-Help-Bot.webp" />
          </ion-thumbnail>
          <ion-label>Valentina Vargas</ion-label>
          <ion-button expand="full"href="/card">Haz click </ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://static.netwrck.com/static/uploads/ai-Atza-Technology.webp" />
          </ion-thumbnail>
          <ion-label>Alejandra Chambueta</ion-label>
          <ion-button expand="full"href="/card">Haz click </ion-button>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://static.netwrck.com/static/uploads/ai-MD-T2-Artificial-Intelligence.webp" />
          </ion-thumbnail>
          <ion-label>Stefany Gelvez</ion-label>
          <ion-button expand="full"href="/card">Haz click </ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://static.netwrck.com/static/uploads/ai-xerkarsa-Emotional.webp" />
          </ion-thumbnail>
          <ion-label>Jeimmy Cortes</ion-label>
          <ion-button expand="full"href="/card">Haz click </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

<!---BOTÓN--->
<ion-button expand="full" href="/cards" class="btn1">Equipo de trabajo</ion-button>

</ion-content>


